{% comment %} 
                                    This section is used in the collection template to render collection page
                                    listing all products within a collection.
                                   
                                    https://shopify.dev/docs/storefronts/themes/architecture/templates/collection 
{% endcomment %}

<h1>{{ collection.title }}</h1>
{% if section.settings.sorting %}
  {% render 'sorting' %}
{% endif %}

<div class="collection-products grid" style="--grid-gap:{{ section.settings.grid_gap }}px">
  {% for product in collection.products %}
    {% render 'product-card'
 card_product: product
      ,
 section_id: section.id
      ,
 lazy_load: true
    %}
  {% endfor %}
</div>

{% stylesheet %}
  .collection-products {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--grid-gap);
    img {
      height: 100%;
      object-fit: cover;
    }
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "t:general.collection",
    "settings": [

      {
        "type": "checkbox",
        "id": "hover_second_image",
        "label": "Show second image on hover",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sorting",
        "label": "Sorting",
        "default": false
      },
      {
        "type": "range",
        "id": "grid_gap",
        "label": "t:labels.grid_gap",
        "min": 0,
        "max": 50,
        "step": 5,
        "unit": "px",
        "default": 10
      }

    ]
  }
{% endschema %}